.App {
  text-align: center;
}
hr {
  width: 45%;
  border: 1px solid;
  color: #17264f;
}
.button {
  margin: 10px;
  height: 40px;
  width: 20%;
  border-radius: 5px;
  color: darkslateblue;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar {
  margin: 0px;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  overflow: visible;
  height: 60px;
  background-color: #17264f;

  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: rgba(206, 204, 204, 0.377);
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #17264f;
  text-align: center;
  border-style: solid;
  border-color: rgb(183, 214, 199);
  border-width: 4px;
  margin: 70px;
  margin-bottom: 15px;
}
input {
  width: 40%;
  height: 20px;
  margin: 5px;
}
textarea {
  width: 40%;
  margin: 5px;
  height: 50%;
}
img {
  border-radius: 25%;
}
.bookCard {
  border-radius: 20px;
  max-width: 60%;
  height: 100%;
  text-align: center;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(180, 180, 180);
}
